
.SaveButton:hover{

    -fx-background-color: #5EA7B2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.CancelButton:hover{

    -fx-background-color: rgb(290,100,123);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.SaveButton{

    -fx-background-color: white;
    -fx-text-fill: #344864;
    -fx-border-radius: 50px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.CancelButton{

-fx-background-color: white;
    -fx-text-fill: #344864;
    -fx-border-radius: 50px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}


.DayComboBox{


    -fx-background-color: WHITE;
}

.PlanComboBox{


    -fx-background-color: WHITE;
}

.DistrictComboBox{

    -fx-background-color: WHITE;
}


.BarangayComboBox{


    -fx-background-color: WHITE;
}

.MonthlyChargeField{

    -fx-background-color: #EDEDED;
    -fx-border-radius: 30px;

}

.DueDateField{

    -fx-background-color: #EDEDED;
    -fx-border-radius: 30px;

}

.PlanField{

    -fx-background-color: #EDEDED;
    -fx-border-radius: 30px;

}

.DistrictField{

    -fx-background-color: #EDEDED;
    -fx-border-radius: 30px;

}

.AddressField{

    -fx-background-color: #EDEDED;
    -fx-border-radius: 30px;

}

.NumberField{

    -fx-background-color: #EDEDED;
    -fx-border-radius: 30px;

}

.TextField{

    -fx-background-color: #EDEDED;
    -fx-border-radius: 30px;

}

.NumberText{

    -fx-text-fill: #344864;

}


.MonthlyChargeText{

    -fx-text-fill: #344864;

}


.DueDateText{

    -fx-text-fill: #344864;

}


.PlanText{

    -fx-text-fill: #344864;

}


.AddressText{

    -fx-text-fill: #344864;

}


.NameText{

    -fx-text-fill: #344864;

}

.textAddClient{

    -fx-text-fill: #f88456;

}


.mainAnchor{

    -fx-background-color: WHITE;
    -fx-border-radius: 200px;

}