.EditProfileAdmin {
    -fx-background-color: transparent;
    -fx-text-fill: #344864;
}

.UpdateProfileBtn:hover {
    -fx-background-color: #5EA7B2;
    -fx-border-radius: 10px;
    -fx-border-color: #5EA7B2;
}

.UpdateProfileBtn {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #344864;
    -fx-border-radius: 10px;
    -fx-border-color: #DBDBC7;
}

.AdminPI {
    -fx-background-color: transparent;
    -fx-text-fill: #344864;
}

.PasswordTextFieldPI,
.UsernameTextFieldPI,
.LastNameTextFieldPI,
.FirstNameTextFieldPI,
.UserIDTextField,
.RoleTextField {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #344864;
}

.LogoutButton {
    -fx-border-radius: 10px;
    -fx-background-color: #C45144;
}

.LogoutButton:hover {
    -fx-background-color: derive(#C45144, -10%);
}

.LogoutButton:selected {
    -fx-background-color: derive(#C45144, -20%);
}

.FirstNameLabelPI,
.LastNameLabelPI,
.UsernameLabelPI,
.PasswordLabelPI,
.RoleLabelPI,
.UserIDLabelPI {
    -fx-text-fill: #BFB093;
}

.PersonalInfoBotPanel,
.PersonalInfoTopPanel {
    -fx-border-style: solid;
    -fx-border-radius: 20px;
    -fx-border-color: #344864;
}

.ConfirmPasswordTextField,
.PasswordTextField,
.UsernameTextField,
.LastNameTextField,
.FirstNameTextField {
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-border-color: #CBC9BB;
}

.FirstNameLabel,
.LastNameLabel,
.UsernameLabel,
.PasswordLabel,
.SystemAdminLabel {
    -fx-text-fill: #BFB093;
}

.EditProfileInfo,
.EditProfilePanel {
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-border-color: #344864;
}

.tab-pane {
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 10px;
    -fx-border-radius: 15px;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-background {
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 15px;
    -fx-border-color: #F2F2F2;
    -fx-border-radius: 15px;
}

.tab-pane .tab {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab:selected {
    -fx-border-color: #F88456;
    -fx-border-width: 0 0 2px 0;
}

.tab-pane .tab-header-area .tab-label {
    -fx-text-fill: #A6A6A6;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.tab-pane .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: #344864;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.ProfileText {
    -fx-text-fill: #344864;
}

.MainForm {
    -fx-border-radius: 30px;
    -fx-background-color: #F2F2F2;
}
