#Left{
    -fx-background-color: gray;
}

#Center_Pane{
    -fx-background-color: rgb(241,240,233);
}

#Main_Label{
    -fx-font-family: "Helvetica Rounded";
    -fx-font-weight: bold;
    -fx-font-size: 33;
    -fx-text-fill: rgb(52,72,100);
}

#div_line{
    -fx-background-color: rgb(52,72,100);
}

#line{
    -fx-background-color: black;
}

#Main_Scroll_Pane{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0.5;
    /*-fx-border-radius: 10;
    -fx-background-radius: 10;*/
}

.scroll-pane {
    -fx-background: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: f1f0e9;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

#ScrollPane .scroll-bar {
    -fx-background-color: transparent;
}

#ScrollPane .scroll-bar .track {
    -fx-background-color: transparent;
}

#ScrollPane .scroll-bar .thumb {
    -fx-background-color: #c0c0c0;
    -fx-background-insets: 0;
}

#ScrollPane .scroll-bar .thumb:hover {
    -fx-background-color: #a0a0a0;
}

#ScrollPane .scroll-bar .thumb:pressed {
    -fx-background-color: #808080;
}

#HBOX .label{
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #494949;
}

/*ITEMS*/
#TableRows{
    -fx-background-color: white;
    -fx-background-radius:15px;
    -fx-border-radius: 15px;
}

#Contents{
    -fx-text-fill: rgb(52, 72, 100);
    -fx-font-family: "Arial";
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#Row_Button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

#Row_Button:hover{
    -fx-background-color: gray;
    -fx-border-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}


